@media screen and (max-width: 760px){
    body{
        .contain__all{
            padding: 2rem;
            .content-usuary{
                grid-template-areas: "columnCard-1 columnCard-2"
                                     "columnCard-3 columnCard-4";
            }

            .content--overviewToday{
                .overview{
                    grid-template-areas: "column-1 column-2 "
                                     "column-3 column-4"
                                     "column-5 column-6"
                                     "column-7 column-8";
                }
            }
        }
    }
}